<div ng-include="'scripts/main-header/main-header.html'"></div>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 col-sm-12">
      <div class="row">
        <div class="col-md-2" ng-repeat=" options in ['SortBy ->',1,2,4,5,6]" style="border: 1px solid #EDEDED;height:40px">
          {{options}}
        </div>
      </div>
    </div>
  </div>
<div class="row">
  <div class="col-md-12 col-sm-12" style="border:1px solid #DEDEDE;">
    <div class="row">
    <div class="col-md-2" style="height:400px;overflow:auto">
      <!-- <div class="row" ng-repeat="options in editOptions">
        <a ui-sref="/{{options.field}}" ng-bind="options.name"><i class="icon fa fa-angle-right"></i></a>
      </div> -->
      <div class="row" >
      <footer>
        <div class="pre-footer" style="padding: 0px">
        <div class="quick-menu" >
                    <ul style="margin-top:0px">
                      <li ng-repeat="options in streams"><a ui-sref="/{{options.field}}" ng-bind="options.name" style="    border:1px solid #DEDEDE;text-align:center;vertical-align:middle;min-height:40px"><i class="icon fa fa-angle-right"></i></a></li>
                    </ul>
              </div>
          </div>
      </footer>
</div>





    </div>
    <div class="col-md-10" style="border-left: 1px solid #EDEDED;overflow:auto;padding:0px 0px">
      
    <div class="col-md-10 col-md-offset-1 col-sm-12 news-wrapper index-1" style="padding:0px;height:620px;overflow:auto">
      <div class="news-boxes">
            <!-- News Box 1-->
            <div class="col-md-10 col-sm-11 col-md-offset-1" ng-repeat="items in classUpTopics">

              <div class="news-box-outer">
               
                <div class="news-box-inner">
                   <div class="row" style="border:1px solid #DEDEDE;padding:10px 0px">
                  <div class="image col-md-6"><img src="img/news/news-1.jpg" alt="" class="img-responsive">
                    <div class="mask index-1"><a href="#"></a></div>
                  </div>
                  <div class="info-block col-md-6">
                    <div class="row">
                      <h3 ng-bind="items.name" class="col-md-6" style="padding-bottom:10px"></h3>
                      <a ui-sref="editProfile.{{items.field}}({route: items.field})"><i class="fa fa-pencil col-md-offset-5 col-md-1" style="color:orange;cursor:pointer"></i></a>
                    </div>
                    <!-- <h5><i class="fa fa-calendar"></i>12, April 2015</h5> -->
                     <!-- <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet</p>
                     <a href="#" class="button button-special">Read More</a> -->
                     <div ng-repeat="keys in userDetailsKeys">
                      <div class="row" ng-repeat="info in userDetails[keys]">
                       <div class="col-md-3" ng-bind="info.field"></div>
                       <div class="col-md-5" ng-bind="info.value"></div>
                      </div>
                   </div>
                  </div>
                </div>
                <div class="row" style="border:1px solid #DEDEDE">
                <div class="col-md-6 col-md-offset-3 col-sm-12" style="text-align:center">
                  Review your friends
                </div>
              </div>
              </div>



              </div>
              <div class="col-md-1 col-sm-1">
            </div>


            </div>

            
          </div>

      </div>

    </div>
  </div>
  </div>
</div>
</div>